@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--color-primary);
}

:root {
  --white: #fff;
  --black: #000;
  --color-secondary: #5c2cd5;
  --color-primary: #7a45ff;
  --color-player-one: #f66883;
  --color-player-two: #fcce6c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  font-family: 'Space Grotesk', sans-serif;
}

button:hover {
  cursor: pointer;
}
