.container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 730px;
}
